[xcpng-base]
name=xcpng - Base
baseurl=@@SRCURL@@/base/@@RPMARCH@@/
gpgkey=https://xcp-ng.org/RPM-GPG-KEY-xcpng
failovermethod=priority
skip_if_unavailable=False

[xcpng-updates]
name=xcpng - Updates
baseurl=@@SRCURL@@/updates/@@RPMARCH@@/
gpgkey=https://xcp-ng.org/RPM-GPG-KEY-xcpng
failovermethod=priority
skip_if_unavailable=False

[xcpng-testing]
name=xcpng - Testing
baseurl=@@SRCURL@@/testing/@@RPMARCH@@/
gpgkey=https://xcp-ng.org/RPM-GPG-KEY-xcpng
failovermethod=priority
skip_if_unavailable=False
