[main]
keepcache=1
debuglevel=2
reposdir=@@YUMREPOSD@@
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=1
assumeyes=1
syslog_ident=mock
syslog_device=
metadata_expire=0
mdpolicy=group:primary
best=1
protected_packages=
skip_missing_names_on_install=0
tsflags=nodocs
